In [1]:
# basic operations
import numpy as np
import pandas as pd 

# for visualizations
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')

# file path
import os
print(os.listdir("."))

C:\Users\Siddarth\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

['.ipynb_checkpoints', 'data.csv', 'Fifa_Visualization.ipynb', 'kaggle']

In [2]:
import os
for dirname, _, filenames in os.walk('/kaggle'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [5]:
# reading the data and also checking the computation time

%time data = pd.read_csv('data.csv')

print(data.shape)

Wall time: 2.03 s
(18207, 89)

In [6]:
# checking the first 5 rows and columns

data.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

### Displaying Indian footballers

In [7]:
def country(x):
    return data[data['Nationality'] == x][['Name','Overall','Potential','Position']]


# let's check the Indian Players 
country('India')

                  Name  Overall  Potential Position
8605        S. Chhetri       67         67       LS
10011       S. Jhingan       65         71      RCB
12598    J. Lalpekhlua       63         64       RS
12811  G. Singh Sandhu       63         68       GK
13508    A. Edathodika       62         62      LCB
14054        P. Halder       61         67      RCM
14199         P. Kotal       61         66       RB
14218         L. Ralte       61         62       LW
14705           N. Das       60         65       LB
14786         U. Singh       60         67       RM
14915       H. Narzary       60         66       LM
15356         R. Singh       59         59       ST
15643         S. Singh       59         65       CB
15652         A. Thapa       59         71      LCM
15855       M. Rafique       58         61       CM
15864         A. Singh       58         62       GK
15884         B. Singh       58         58       ST
16135          S. Bose       58         66       LB
16265        R. Borges       58         60      CDM
16450          S. Paul       57         57      NaN
16499        A. Mondal       57         57       CB
16539  L. Lalruatthara       57         63      NaN
16793       E. Lyngdoh       56         56      NaN
16903   J. Lalrinzuala       56         64       LB
16976     A. Kuruniyan       56         70       LW
17129         J. Singh       55         58      NaN
17197         V. Kaith       55         64       GK
17339         S. Passi       54         63      NaN
17436   D. Lalhlimpuia       54         67      NaN
17539         C. Singh       53         62      NaN

### Analysing Club Data (Manchester United)

In [ ]:
def club(x):
    return data[data['Club'] == x][['Name','Jersey Number','Position','Overall','Nationality','Age','Wage',
                                    'Value','Contract Valid Until']]

club('Manchester United')